*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 23%, 69%);
    position: relative;

}

#container {
    font-family: "Manrope", sans-serif;
    font-size:13px;
    font-weight: 400;
    min-width:300px;
    width:600px;
    height:300px;
    max-height: 300px;
    margin:auto;
    background-color:white;
    border-radius: 20px;

    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: [row-start] 1fr [row-2] 1fr;*/
    
    grid-template-areas: 
    "a"
    "b";
}

.imagecontainer{
    grid-area: a;
}
.imagecontainer, img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.content{
    grid-area: b;
}

#avatar, img{
    width: 50%;
    border-radius: 100%;
float: left;
}